body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(200, 200, 200);
  background-image: url("peru.jpg");
  background-size: cover;
  /* color: rgb(100, 100, 100); */
  color: white;
  font-family: 'Roboto Mono', monospace;
}

h2 {
  color: red;
  font-size: 20px;
  font-family: arial;
}

.box-section {
  border: 1px solid black;
  padding: 15px;
  margin: 5px;
  border-radius: 4px;
  background-color: rgb(200, 200, 200);
  box-shadow: 2px 2px 3px black;
  /* text-align: center; */
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card {
  width: 300px;
}

.footer {
  width: 100%;
}
